
services:
  kvant-bot-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: kvant-bot-dev
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:80" # http api
      - "2345:2345"      # Delve debugger порт
      - "40000:40000"    # Air порт
    volumes:
      - ./:/app
      - go-mod-cache:/go/pkg/mod
      - ./data:/app/data
    develop:
       watch:
         - action: sync+restart
           path: ./src
           target: /app/src
    command: air -c .air.toml
    environment:
      - CGO_ENABLED=1
      - DB_PATH=/app/data/Valentine.db
volumes:
  go-mod-cache:
  sqlite-data:
